
#pageOnePoem{
    background-image: url(PageOnePoemBackground.jpg);
    background-size: 100%;
    size: landscape;
}

#bookPageOne p{
    height: 100%;
    width: 100%;
    position: relative;
    left: 20%;
    top: 10%;
    font-family: EpsilonCCT;
    color: #cc6699;
    text-shadow: 0.5px 0.5px #4d0000;
    font-size: 40px;   
    line-height: 10%;
    
}
    
