


#menu {
    background-image: url('background_image_1.jpg');
    background-size: 100%;
    size: landscape;
}
   
.button {
    height: 10%;
    width: 10%;
    border-radius: 5px;
    position: absolute;
    right: 45%;
    top: 35%;
    margin: 30px;
    background-color: #ffffff;
    border: 1px solid #ff99c2;
    opacity: 0.6;
    filter: alpha(opacity=60);
    /* кнопка жми сюда-главная */
    
}
h2{
    font-family: EpsilonCCT;
    text-shadow: 2px 2px #ff0000;
    color: #cc6699;
    font-size: 40px;
    text-align: center;
    padding: 1%;
    /* текст жми сюда-главная */
}


    


#Sonya {
    background-image: url('SonyaNoText.jpg');
    background-size: 100%;
    size: landscape;
}
#SonyaPage{
 
    position: absolute;
    right: 50%;
    top: 15%;
    margin: 5px; 
}

p{
    position: relative;
    top: 15%;
    left: 3%;
    font-family: EpsilonCCT;
    color: #cc6699;
    text-shadow: 0.5px 0.5px #4d0000;
    font-size: 30px;
    text-align: left;
    line-height: 10%;
 
}
#buttonMaya{
    height: 18%;
    width: 9%;
    background-image: url('buttonOne.jpg');
    background-size: 100%;
    position: fixed;
    bottom: 8%;
    left: 35%;
    border-radius: 10px;
    border: solid 5px #ffc299;
}

#Maya{
    
    background-image: url('MaiaNoText.jpg');
    background-size: 100%;
    size: landscape;
    
}

#MayaPage{
    
    position: absolute;
    right: 50%;
    top: 15%;
    margin: 5px; 
}

#Author{
    background-image: url('authorNoText.jpg');
    background-size: 100%;
    size: landscape;
    
}
#AuthorPage{
    
    position: absolute;
    right: 50%;
    top: 15%;
    margin: 5px; 
}


#Book{
    background-image: url('FirstPageNoText.jpg');
    background-size: 100%;
    size: landscape;
   
}


