


#menu {
    background-image: url('background_image_1.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
    size: landscape;
    
    
    
}
   
#button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15%;
    width: 10%;
    text-align: center;
    
    border-radius: 10%;
    background-color: #ffffff;
    border: 2px solid #ff99c2;
    opacity: 0.6;
    filter: alpha(opacity=60);
    font-family: EpsilonCCT, 'Lobster', cursive;
    text-shadow: 3% 3% #ff0000;
    color: #cc6699;
    font-size: 200%;
    
}

    


#Sonya {
    background-image: url('SonyaNoText.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
    size: landscape;
}
#SonyaPage{
 
    position: absolute;
    right: 50%;
    top: 15%;
    width: 100%;
    height: 80%;
     
}

p{
    position: relative;
    left: 40%;
    font-family: EpsilonCCT, 'Lobster', cursive;
    color: #cc6699;
    text-shadow: 2% 2% #4d0000;
    font-size: 180%;
    text-align: center;
    line-height: 10%;
 
}
#buttonMaya{
    height: 10%;
    width: 5%;
    background-image: url('buttonOne.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 15%;
    left: 35%;
    border-radius: 5%;
    border: solid 5px #ffc299;
}

#Maya{
    
    background-image: url('MaiaNoText.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
    size: landscape;
    
}

#MayaPage{
    
    position: absolute;
    right: 50%;
    top: 15%;
    width: 100%;
    height: 80%;
}

#Author{
    background-image: url('authorNoText.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
    size: landscape;
    
}
#AuthorPage{
    position: absolute;
    right: 50%;
    top: 10%;
    margin: 5%;
    height: 50%;
    width: 100%;
}

#AuthorPage p{
    position: relative;
    left: 40%;
    font-family: EpsilonCCT, 'Lobster', cursive;
    color: #cc6699;
    text-shadow: 0.5px 0.5px #4d0000;
    font-size: 50%;
    text-align: center;
    line-height: 10%;
    
}


#Book{
    background-image: url('FirstPageNoText.jpg');
    background-size:100% auto;
    background-repeat: no-repeat;
    height: 900px;
    width: 1600px;
    size: landscape;
   
}


