@font-face {
    font-family: EpsilonCCT;
    src: url(EpsilonCCT.TTF);
    /* прикрепление фонта - главная*/
}

#footer li{
    position: relative;
    font-family: EpsilonCCT;
    display: inline;
    float: left;
    width: 25%;
    color: #cc6699;
    /* список-бар-внизу - главная */
}

#footer {
    background-color: #ffffff;
    border: 1px solid #ff99c2;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: fixed;
    right: 10%;
    bottom:0;
    width: 80%;
    height: 10%;
    border-radius: 5px;
    /* кнопка листа-главная */
   
}

#chOne{
    color: #00e6ac;
    font-size: 150%;
    text-decoration: none;
    text-align: left;
    left: 5%;
    text-shadow: 0.5px 0.5px #ff0000;
    
}
#chOne a{
    text-decoration: none;
    
}

#chTwo{
    color: #00e6ac;
    font-size: 150%;
    text-decoration: none;
    text-align: right;
    right: 5%;
    text-shadow: 0.5px 0.5px #ff0000;
}
#chTwo a {
    text-decoration: none;
   
}
#chThree{
    color: #00e6ac;
    font-size: 150%;
    text-align: right;
    right: 5%;
    text-shadow: 0.5px 0.5px #ff0000;
}

#chThree a {
    text-decoration: none;
    color: #cc6699;
}

#chFour{
    
    color: #00e6ac;
    font-size: 150%;
    text-align: left;
    left: 10%;
    text-shadow: 0.5px 0.5px #ff0000;
    
}
#chFour a {
    text-decoration: none;

}

h1{
    font-family: EpsilonCCT;
    text-align: center;
    color: #cc6699;
    font-size: 300%;
    text-shadow: 2px 2px #ff0000;
    position:relative;
    top:-30px;
    
}
#title{
    
    height: 15%;
    width: 80%;
    border-radius: 5px;
    background-color: #ffffff;
    border: 1px solid #ff99c2;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: absolute;
    top: 0px;
    right: 10%;
    /* главная - название*/
    
}


#pageNext{
    height: 18%;
    width: 10%;
    background-image: url(buttonNextPage.jpg);
    background-repeat: no-repeat;
    background-size:100% auto;
    position: fixed;
    bottom: 30%;
    left: 80%;
    border-radius: 10px;
    border: solid 5px #ffc299;
    
}

#pageBack{
    height: 18%;
    width: 10%;
    background-image: url(buttonNextPage.jpg);
    background-size:100% auto;
    background-repeat: no-repeat;
    position: fixed;
    bottom: 30%;
    left: 10%;
    border-radius: 10px;
    border: solid 5px #ffc299;
}

