#pageFourPoem{
    background-image: url(PageFourPoemBackground.jpg);
    background-size: 100%;
    size: landscape;
}




#PageFour p{
    float: left;
    clear: both;
    width: 100%;
    font-family: EpsilonCCT;
    color: #cc6699;
    text-shadow: 0.5px 0.5px #4d0000;
    font-size: 40px;
    text-align: center;
    line-height: 10%;
}